.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.snowflake {
    color: white;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
    position: absolute;
    top: -10%;
    z-index: 9999;
    user-select: none;
    animation: fall linear infinite;
}

.snowflake::before,
.snowflake::after {
    content: "\2744"; /* Unicode character for a snowflake */
    position: absolute;
    color: white;
    text-shadow: 0 0 2px #000;
    opacity: 0.8;
}

.snowflake::before {
    transform: rotate(15deg);
}
.snowflake::after {
    transform: rotate(-15deg);
}

@keyframes fall {
    0% {
        transform: translateY(-10vh) translateX(0vw);
        opacity: 1;
    }
    100% {
        transform: translateY(105vh) translateX(var(--fall-x, 0vw));
        opacity: 0;
    }
}


/* Different sizes and durations for variety */
.snowflake:nth-of-type(6n) {
    font-size: 1.2em;
    animation-duration: 10s;
    animation-delay: -3s;
    --fall-x: -15vw;
}
.snowflake:nth-of-type(6n + 1) {
    font-size: 0.8em;
    animation-duration: 14s;
    animation-delay: -1s;
    --fall-x: 10vw;
}
.snowflake:nth-of-type(6n + 2) {
    font-size: 0.6em;
    animation-duration: 18s;
    animation-delay: -5s;
    --fall-x: -12vw;
}
.snowflake:nth-of-type(6n + 3) {
    font-size: 1.5em;
    animation-duration: 9s;
    animation-delay: -2.5s;
    --fall-x: 8vw;
}
.snowflake:nth-of-type(6n + 4) {
    font-size: 0.5em;
    animation-duration: 20s;
    animation-delay: -4s;
    --fall-x: -7vw;
}
.snowflake:nth-of-type(6n + 5) {
    font-size: 1.1em;
    animation-duration: 12s;
    animation-delay: -1.5s;
    --fall-x: 15vw;
}


/* Assign random horizontal starting positions */
.snowflake:nth-of-type(1) { left: 1%; animation-delay: -0.5s; }
.snowflake:nth-of-type(2) { left: 10%; animation-delay: -5s; }
.snowflake:nth-of-type(3) { left: 20%; animation-delay: -2s; }
.snowflake:nth-of-type(4) { left: 30%; animation-delay: -8s; }
.snowflake:nth-of-type(5) { left: 40%; animation-delay: -3s; }
.snowflake:nth-of-type(6) { left: 50%; animation-delay: -6s; }
.snowflake:nth-of-type(7) { left: 60%; animation-delay: -1s; }
.snowflake:nth-of-type(8) { left: 70%; animation-delay: -4s; }
.snowflake:nth-of-type(9) { left: 80%; animation-delay: -7s; }
.snowflake:nth-of-type(10) { left: 90%; animation-delay: -2.5s; }
.snowflake:nth-of-type(11) { left: 95%; animation-delay: -9s; }
.snowflake:nth-of-type(12) { left: 5%; animation-delay: -1.2s; }
