.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: fall linear infinite;
}

.snowflake:before,
.snowflake:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
}

.snowflake:before {
    transform: rotate(30deg);
}

.snowflake:after {
    transform: rotate(60deg);
}


@keyframes fall {
    0% {
        transform: translateY(-5vh) translateX(0vw) rotate(0deg);
        opacity: 1;
    }
    90% {
         opacity: 1;
    }
    100% {
        transform: translateY(105vh) translateX(var(--fall-x, 0vw)) rotate(360deg);
        opacity: 0;
    }
}

/* Different sizes and durations for variety */
.snowflake:nth-of-type(6n) {
    width: 10px; height: 2.5px;
    animation-duration: 8s;
    animation-delay: -3s;
    --fall-x: -15vw;
}
.snowflake:nth-of-type(6n + 1) {
    width: 8px; height: 2px;
    animation-duration: 12s;
    animation-delay: -1s;
    --fall-x: 10vw;
}
.snowflake:nth-of-type(6n + 2) {
    width: 6px; height: 1.5px;
    animation-duration: 15s;
    animation-delay: -5s;
    --fall-x: -12vw;
}
.snowflake:nth-of-type(6n + 3) {
    width: 12px; height: 3px;
    animation-duration: 7s;
    animation-delay: -2.5s;
    --fall-x: 8vw;
}
.snowflake:nth-of-type(6n + 4) {
    width: 5px; height: 1.25px;
    animation-duration: 18s;
    animation-delay: -4s;
    --fall-x: -7vw;
}
.snowflake:nth-of-type(6n + 5) {
    width: 9px; height: 2.25px;
    animation-duration: 10s;
    animation-delay: -1.5s;
    --fall-x: 15vw;
}


/* Assign random horizontal starting positions */
.snowflake:nth-of-type(1) { left: 1%; animation-delay: -0.5s; }
.snowflake:nth-of-type(2) { left: 10%; animation-delay: -5s; }
.snowflake:nth-of-type(3) { left: 20%; animation-delay: -2s; }
.snowflake:nth-of-type(4) { left: 30%; animation-delay: -8s; }
.snowflake:nth-of-type(5) { left: 40%; animation-delay: -3s; }
.snowflake:nth-of-type(6) { left: 50%; animation-delay: -6s; }
.snowflake:nth-of-type(7) { left: 60%; animation-delay: -1s; }
.snowflake:nth-of-type(8) { left: 70%; animation-delay: -4s; }
.snowflake:nth-of-type(9) { left: 80%; animation-delay: -7s; }
.snowflake:nth-of-type(10) { left: 90%; animation-delay: -2.5s; }
.snowflake:nth-of-type(11) { left: 95%; animation-delay: -9s; }
.snowflake:nth-of-type(12) { left: 5%; animation-delay: -1.2s; }
