.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.snowflake {
    color: white;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 2px #000;
    position: absolute;
    top: -10%;
    z-index: 9999;
    user-select: none;
    animation-name: fall,-snow-flake-spin;
    animation-duration: 10s,3s;
    animation-timing-function: linear,ease-in-out;
    animation-iteration-count: infinite,infinite;
    animation-play-state: running,running;
}
.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s,0s;
    animation-delay: 0s,0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s,1s;
    animation-delay: 1s,1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s,.5s;
    animation-delay: 6s,.5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s,2s;
    animation-delay: 4s,2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s,2s;
    animation-delay: 2s,2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s,3s;
    animation-delay: 8s,3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s,2s;
    animation-delay: 6s,2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s,1s;
    animation-delay: _5s,1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s,0s;
    animation-delay: 1s,0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s,1.5s;
    animation-delay: 3s,1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s,0s;
    animation-delay: 2s,0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s,2.5s;
    animation-delay: 4s,2.5s
}
@keyframes fall {
    0% {
        transform: translateY(-10vh) translateX(0vw);
        opacity: 1;
    }
    100% {
        transform: translateY(105vh) translateX(var(--fall-x, 0vw));
        opacity: 0;
    }
}
@keyframes -snow-flake-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

/* Different sizes and durations for variety */
.snowflake:nth-of-type(6n) {
    font-size: 1.2em;
    animation-duration: 10s;
    animation-delay: -3s;
    --fall-x: -15vw;
}
.snowflake:nth-of-type(6n + 1) {
    font-size: 0.8em;
    animation-duration: 14s;
    animation-delay: -1s;
    --fall-x: 10vw;
}
.snowflake:nth-of-type(6n + 2) {
    font-size: 0.6em;
    animation-duration: 18s;
    animation-delay: -5s;
    --fall-x: -12vw;
}
.snowflake:nth-of-type(6n + 3) {
    font-size: 1.5em;
    animation-duration: 9s;
    animation-delay: -2.5s;
    --fall-x: 8vw;
}
.snowflake:nth-of-type(6n + 4) {
    font-size: 0.5em;
    animation-duration: 20s;
    animation-delay: -4s;
    --fall-x: -7vw;
}
.snowflake:nth-of-type(6n + 5) {
    font-size: 1.1em;
    animation-duration: 12s;
    animation-delay: -1.5s;
    --fall-x: 15vw;
}


/* Assign random horizontal starting positions */
.snowflake:nth-of-type(1) { left: 1%; animation-delay: -0.5s; }
.snowflake:nth-of-type(2) { left: 10%; animation-delay: -5s; }
.snowflake:nth-of-type(3) { left: 20%; animation-delay: -2s; }
.snowflake:nth-of-type(4) { left: 30%; animation-delay: -8s; }
.snowflake:nth-of-type(5) { left: 40%; animation-delay: -3s; }
.snowflake:nth-of-type(6) { left: 50%; animation-delay: -6s; }
.snowflake:nth-of-type(7) { left: 60%; animation-delay: -1s; }
.snowflake:nth-of-type(8) { left: 70%; animation-delay: -4s; }
.snowflake:nth-of-type(9) { left: 80%; animation-delay: -7s; }
.snowflake:nth-of-type(10) { left: 90%; animation-delay: -2.5s; }
.snowflake:nth-of-type(11) { left: 95%; animation-delay: -9s; }
.snowflake:nth-of-type(12) { left: 5%; animation-delay: -1.2s; }
