
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -20px;
    width: 2px; /* bar width */
    height: 10px; /* bar height */
    background: white;
    border-radius: 1px;
    opacity: 0;
    animation: fall linear infinite;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.snowflake::before,
.snowflake::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    box-shadow: inherit;
}

.snowflake::before {
    transform: rotate(60deg);
}

.snowflake::after {
    transform: rotate(-60deg);
}

@keyframes fall {
    0% {
        transform: translateY(0vh) translateX(0vw) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(105vh) translateX(var(--fall-x)) rotate(360deg);
        opacity: 1;
    }
}

/* Create different sizes and speeds for the snowflakes */
.snowflake:nth-child(7n) {
    height: 6px;
    width: 1px;
    animation-duration: 8s;
    animation-delay: -3s;
    --fall-x: 5vw;
}

.snowflake:nth-child(7n + 1) {
    height: 8px;
    width: 2px;
    animation-duration: 10s;
    animation-delay: -1s;
     --fall-x: -8vw;
}

.snowflake:nth-child(7n + 2) {
    height: 4px;
    width: 1px;
    animation-duration: 12s;
    animation-delay: -5s;
    --fall-x: 10vw;
}

.snowflake:nth-child(7n + 3) {
    height: 7px;
    width: 1.5px;
    animation-duration: 7s;
    animation-delay: -2s;
    --fall-x: -5vw;
}

.snowflake:nth-child(7n + 4) {
    height: 5px;
    width: 1px;
    animation-duration: 15s;
    animation-delay: -4s;
     --fallx: 12vw;
}

.snowflake:nth-child(7n + 5) {
    height: 9px;
    width: 2px;
    animation-duration: 9s;
    animation-delay: -7s;
    --fall-x: -10vw;
}

.snowflake:nth-child(7n + 6) {
    height: 3px;
    width: 1px;
    animation-duration: 18s;
    animation-delay: -8s;
    --fall-x: 15vw;
}


/* Assign random starting positions */
.snowflake:nth-child(1) { left: 10%; animation-delay: 0s; }
.snowflake:nth-child(2) { left: 20%; animation-delay: -2s; }
.snowflake:nth-child(3) { left: 30%; animation-delay: -4s; }
.snowflake:nth-child(4) { left: 40%; animation-delay: -1s; }
.snowflake:nth-child(5) { left: 50%; animation-delay: -3s; }
.snowflake:nth-child(6) { left: 60%; animation-delay: -5s; }
.snowflake:nthchild(7) { left: 70%; animation-delay: -1.5s; }
.snowflake:nth-child(8) { left: 80%; animation-delay: -3.5s; }
.snowflake:nth-child(9) { left: 90%; animation-delay: -0.5s; }
.snowflake:nth-child(10) { left: 15%; animation-delay: -2.5s; }
.snowflake:nth-child(11) { left: 25%; animation-delay: -6s; }
.snowflake:nth-child(12) { left: 35%; animation-delay: -3s; }
.snowflake:nth-child(13) { left: 45%; animation-delay: -5.5s; }
.snowflake:nth-child(14) { left: 55%; animation-delay: -1s; }
.snowflake:nth-child(15) { left: 65%; animation-delay: -4.5s; }
